builds
scm-polling.log
nextBuildNumber
htmlreports
*.log.*
*.log
*.bak
*.swp
*.war
*.tmp
war
fingerprints
plugins/**/*
jobs/*/config-history/**/*.xml
=======
# vs
obj
bin
*.csproj
*.vbproj.user
*.vshost.*
*ReSharper*
*resharper*
*.suo
*.user
*.bak
*.sln.cache
*.vsmdi
*.zip
*.ncrunchproject
*.ncrunchsolution

# other
*.bak
*.cache
*.log
*.swp
*.user
* Thumbs.db
NERD_tree_*
*.backup_*
testimpactdata.sdf
*.combined.js
*.metadata
*.class

# database
*.dbproj
*.dbmdl
*.schemaview
postmigrations.sql
migrations.sql
Authorspace/feature.toggle
Data/DBServer/sql/
Data/Hermes/sql/
Data/Logging/sql/
Data/Phoenix16/sql/
FunctionalData/dbCreationScripts/zynxsecurity-runthis.sql
FunctionalData/generatedSqlScripts/
integtestresults
Provisioning/config/current.clixml
unittestresults
TestResults/
UtilTools/DatabaseComparison/*.rpt
Authorspace/v2.0/Scripts/ext-4.0/resources/sass/.sass-cache/*
Authorspace/v2.0/Scripts/ext-4.1.0-beta-3/resources/sass/.sass-cache/*
integrationcoverage/
integrationtestresults/
unitcoverage/
.idea
~$*

*.orig
.sonar
PerformanceTests/results
jmeter.log
.sass-cache
Authorspace/v2.0/Scripts/ext-4.1.0-beta-3/resources/css
Authorspace/v2.0/Scripts/ext-4.0/resources/css/zynx-theme.css
Authorspace/v2.0/StylesV2.0/ExportValidation.css
/FunctionalTests/Twist/ZynxFunctional/sahi/userdata/upload.txt
/FunctionalTests/Twist/ZynxFunctional/tools/Sikuli/scripts/clickRedColorBox.sikuli
/FunctionalTests/Twist/ZynxFunctional/sahi/userdata/00_TestImage.png
/lib/Quartz.1.0.3/build/

Authorspace/v2.0/ContentExplorer/app-all.js-temp-*

# sencha sdk
!lib/SenchaSDKTools-2.0.0-Beta/*/*

# content explorer
Authorspace/v2.0/ContentExplorer/all-classes.js
Authorspace/v2.0/ContentExplorer/app-all.js
Authorspace/v2.0/ContentExplorer/app.jsb3

/FunctionalTests/Twist/ZynxFunctional/sahi/userdata/PrintTemplateContainer
Reference/Charts
*.iml
fr_totalcoverage/

#CDSS
CDSS/TestResults/
CDSS/GTests.Functional/out
CDSS/GTests.Functional/templates
CDSS/GTests.Functional/META-INF
CDSS/GTests.Functional/plugin.xml
Data/Release_*.sql
exclude.txt
tags
.gradle

/FunctionalTests/Twist/ZynxFunctional/sahi/userdata/StatisticsData